body{
    color:whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(59, 88, 86);
    
}

[class*="card"]{
    color: black}



.navbar-nav > li{
    padding-bottom: 30px;
}

.col ,
[class*="col-"] {
    padding-top: 40px;
    padding-bottom: 15px;
}

#map{
    height: 400px;
    width: 100%}
}